
    <%- include('header') %>
    <div class="container">
        <%- include('nav') %>

          <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title"><span>标题标题</span>

                      </h3>
                    </div>
                    <div class="panel-body">
                      <p><img src="" alt=""></p>
                      <p>正文正文</p>
                      <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            操作
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                          <li><a href="#">修改</a></li>
                          <li><a href="#">查看</a></li>
                          <li><a href="#">留言(0)</a></li>
                          <li><a href="#">浏览(0)</a></li>
                          <li><a href="#">删除</a></li>
                        </ul>
                      </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">标题标题</h3>
                    </div>
                    <div class="panel-body">
                      正文正文
                    </div>
                </div>
            </div>
          </div>
      </div>

    <%- include('footer') %>
