
    <%- include('header') %>
    <div class="container">
        <%- include('nav') %>
          <div class="row">
            <div class="col-md-12">
                <form>
                  <div class="form-group">
                    <label for="inputtitle">题目</label>
                    <input type="text" class="form-control" id="inputtitle" placeholder="题目">
                  </div>
                  <div class="form-group">
                      <label for="inputcontent">正文</label>
                      <textarea class="form-control" id="inputcontent" rows="3">正文</textarea>
                  </div>
                  <button type="submit" class="btn btn-default">发布</button>
                </form>
            </div>
          </div>
      </div>

    <%- include('footer') %>
